APP_ENV=local
LOG_LEVEL=INFO
SERVICE_NAME=bucket-service
FDE_DB_PASS=
JWT_ISSUER=http://localhost:8080/realms/savings-bucket
JWT_AUDIENCE=savings-bucket-local
BANKING_ADAPTER_MODE=mock
EVENT_BUS_MODE=local
SQS_MODE=local
